@import '../base/variables';

.bg-primario {
    background-color: $primario;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: $blanco;
}
.margin-negativo-10 {
    margin-top: -10rem;
}

.padding-bottom-0{
    padding-bottom: 0;
}