@import '../base/variables';
@import '../base/mixins';

.header{
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet { 
        min-height: 50rem;
    }

    &::before {
        content: '';
        background-color: $negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
    }
    .contenido-header {
        position: relative;
    
        h1 {
            text-align: center;
            color: $blanco;
            text-transform: uppercase;
            margin-top: 5rem;
            @include tablet { 
                margin-top: 10rem;
            }
        }
    }   
}

// header de cada pagina 
.header-inicio {
    background-image: url(../media/img/header_inicio.jpg);
}
.header-nosotros {
    background-image: url(../media/img/header_nosotros.jpg);
}
.header-proceso {
    background-image: url(../media/img/header_proceso.jpg);
}
.header-menu {
    background-image: url(../media/img/header_menu.jpg);
}
.header-galeria {
    background-image: url(../media/img/header_galeria.jpg);
}
.header-contacto {
    background-image: url(../media/img/header_contacto.jpg);
}