@import '../base/variables';
@import '../base/mixins';

.contenido-menu {
    background-image: url(../media/img/cafe.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    aspect-ratio: 3 / 5;

    @include telefono { 
        aspect-ratio: 3 / 4;
    }

    @include tablet { 
        @include grid(2, $separacion);
        aspect-ratio: 16 / 6;
        background-size: 40%;
        background-position: bottom right;

    }

    .texto {
        p {
            font-size: 2rem;
        }
        

    }
}
