@import '../base/variables';
@import '../base/mixins';

.contenido-nosotros {
    @include tablet { 
        @include grid(2, 2rem);
    }
    .imagen {
        margin-bottom: 5rem;

        @include tablet {
            margin: 0 2rem 0 0;
        }
        img {
            transform: rotate(-6deg);
            border: 3rem solid $blanco;
            box-shadow: 9px 10px 5px -7px;
        }
    }

    .texto {
        
        blockquote {
            margin: 0;
            padding: 1rem;
            border-left: .5rem solid $primario;
            font-size: 2rem;
        }
    }
}