@import '../base/variables';
@import '../base/mixins';

.proceso-cafe {
    margin-bottom: $separacion;
    @include tablet { 
        display: flex;
        gap: $separacion;
        align-items: center;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    &:nth-child(2),
    &:nth-child(4) {
        .texto {
            order: 1;
        }
        .imagen {
            order: 2;
        }
    }

    .imagen,
    .texto {
        flex: 1;
    }
    .texto {
        margin-top: 1rem;

        h3 {
            margin: 0;
            text-align: left;
            color: $primario;

            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 5px;
                background-color: $secundario;
            }
        }
    }
}