@import '../base/variables';
@import '../base/mixins';

.iconos {
    margin-top: 5rem;
    .listado-iconos {

        @include tablet { 
            @include grid(3, 2rem);
        }

        li {
            img {
                margin: 0 auto;
                width: 12rem;
            }
            p {
                font-family: $fuenteCursiva;
                font-size: 3.2rem;
                color: $primario;
            }
        }
        
    }
}